Repository nova-model/nova-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint

mypy:
  name: mypy
  entry: poetry run mypy src/launcher_app
  language: system
  verbose: true
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm -C src/vue exec prettier -w .
  language: system
  verbose: true
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm -C src/vue exec eslint --fix .
  language: system
  verbose: true
  pass_filenames: false

Remove invalid preference pin
  dockerfiles/Dockerfile
Due: none

Add documentation site link for each tool
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/launcher_app/galaxy.py
  src/vue/src/components/ToolListItem.vue
Due: mypy, prettier, eslint

Show interactive tools launched outside of the dashboard
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/launcher_app/galaxy.py
  src/vue/src/App.vue
  src/vue/src/components/ToolListItem.vue
  src/vue/src/stores/job.js
Due: mypy, prettier, eslint

Show interactive tools launched outside of the dashboard (#59)
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/launcher_app/galaxy.py
  src/vue/src/App.vue
  src/vue/src/components/ToolListItem.vue
  src/vue/src/stores/job.js
Due: mypy, prettier, eslint

Render documentation link conditionally
  src/vue/src/components/ToolListItem.vue
Due: prettier, eslint

Add doc site link to each tool (#60)
  CHANGELOG.md
  pixi.lock
  src/launcher_app/galaxy.py
  src/vue/src/components/ToolListItem.vue
Due: mypy, prettier, eslint

Refactor individual service statuses into separate component
  src/launcher_app/status.py
  src/vue/src/assets/js/alerts.js
  src/vue/src/components/ServiceStatus.vue
  src/vue/src/components/StatusPanel.vue
Due: mypy, prettier, eslint

Display instrument mount status per compute node
  src/launcher_app/status.py
  src/vue/src/assets/js/alerts.js
  src/vue/src/components/ServiceStatus.vue
  src/vue/src/components/StatusPanel.vue
Due: mypy, prettier, eslint

v0.22.1
  CHANGELOG.md
  pixi.lock
  pyproject.toml
Due: none

Instruct users to check the status banner if tool launch hangs
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/vue/src/components/ToolStatus.vue
Due: prettier, eslint

Improve UX when compute and instrument mount alerts are firing (#62)
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/launcher_app/status.py
  src/vue/src/assets/js/alerts.js
  src/vue/src/components/ServiceStatus.vue
  src/vue/src/components/StatusPanel.vue
  src/vue/src/components/ToolStatus.vue
Due: mypy, prettier, eslint

Fix security vulnerabilities
  src/vue/pnpm-lock.yaml
  src/vue/pnpm-workspace.yaml
Due: none

Fix CI build failure
  src/vue/pnpm-workspace.yaml
Due: none

Full pnpm update
  src/vue/package.json
  src/vue/pnpm-lock.yaml
  src/vue/pnpm-workspace.yaml
Due: prettier

Bump version
  CHANGELOG.md
  pixi.lock
  pyproject.toml
Due: none

Add nova-dev and ndip-dev to allowed hosts
  src/launcher_app/settings.py
Due: mypy

Fix ok state overwriting new jobs
  src/vue/src/stores/job.js
Due: prettier, eslint

Fix tool launch failure shortly after exit button closes previous instance of tool (#66)
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/launcher_app/settings.py
  src/vue/src/stores/job.js
Due: mypy, prettier, eslint

Add initial run sheet
  tests/RUN_SHEET.md
Due: none

Example disclosing AI badges
  src/vue/src/components/ToolListItem.vue
  src/vue/src/components/badges/ClaudeGenerated.vue
  src/vue/src/components/badges/HumanMade.vue
  src/vue/src/components/badges/NDIPVerified.vue
  src/vue/src/components/badges/README.md
  src/vue/src/components/badges/UnknownSource.vue
Due: prettier, eslint

Clone subservice children for status monitoring to fix instrument mount alerts showing on all compute nodes
  CHANGELOG.md
  pyproject.toml
  src/vue/src/assets/js/alerts.js
Due: prettier, eslint

Add initial run sheet (#67)
  tests/RUN_SHEET.md
Due: none

Clone subservice children for status monitoring to fix instrument mount alerts showing on all compute nodes (#70)
  CHANGELOG.md
  pyproject.toml
  src/vue/src/assets/js/alerts.js
Due: prettier, eslint

v1.0.0
  CHANGELOG.md
  pixi.lock
  pyproject.toml
Due: none

Enforce synchronous monitoring of jobs
  pixi.lock
  pyproject.toml
  src/vue/src/stores/job.js
Due: prettier, eslint

Prevent duplicate job launches on slow Galaxy response
  src/vue/src/views/LaunchView.vue
Due: prettier, eslint

Update changelog
  CHANGELOG.md
Due: none

Enforce synchronous monitoring (#73)
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/vue/src/stores/job.js
  src/vue/src/views/LaunchView.vue
Due: prettier, eslint

Filter job queries by user and parallelize them to the extent possible to improve response times
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/launcher_app/galaxy.py
  src/launcher_app/views.py
  src/vue/src/stores/job.js
Due: mypy, prettier, eslint

Path conditions:
  mypy: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.vue$
