Repository nova-model/nova-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint

mypy:
  name: mypy
  entry: poetry run mypy src/launcher_app
  language: system
  verbose: true
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm -C src/vue exec prettier -w .
  language: system
  verbose: true
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm -C src/vue exec eslint --fix .
  language: system
  verbose: true
  pass_filenames: false

Show all available alerts
  CHANGELOG.md
  pyproject.toml
  src/vue/src/App.vue
  src/vue/src/components/StatusBanner.vue
  src/vue/src/components/ToolListItem.vue
  src/vue/src/views/CategoryView.vue
Due: prettier, eslint

Configure alert monitoring via environment variables
  .env.sample
  CHANGELOG.md
  pyproject.toml
  src/vue/src/assets/js/alerts.js
  src/vue/src/components/StatusBanner.vue
Due: prettier, eslint

Organize alerts by affected service
  .env.sample
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/settings.py
  src/launcher_app/status.py
  src/launcher_app/urls.py
  src/launcher_app/views.py
  src/vue/src/App.vue
  src/vue/src/assets/js/alerts.js
  src/vue/src/components/InfoPanel.vue
  src/vue/src/components/StatusBanner.vue
  src/vue/src/components/StatusPanel.vue
  src/vue/src/views/HomeView.vue
Due: mypy, prettier, eslint

Address system status feedback
  src/vue/src/assets/js/alerts.js
  src/vue/src/components/StatusPanel.vue
Due: prettier, eslint

Add a logout button
  .gitignore
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/urls.py
  src/launcher_app/views.py
  src/vue/src/App.vue
Due: mypy, prettier, eslint

Catch 502 errors
  src/launcher_app/views.py
Due: mypy

Add system notifications
  .env.sample
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/launcher_app/galaxy.py
  src/launcher_app/migrations/0002_notification.py
  src/launcher_app/models.py
  src/launcher_app/notification.py
  src/launcher_app/settings.py
  src/launcher_app/urls.py
  src/launcher_app/views.py
  src/vue/src/App.vue
  src/vue/src/assets/js/alerts.js
  src/vue/src/components/NotificationPanel.vue
  src/vue/src/components/StatusPanel.vue
  src/vue/src/stores/user.js
Due: mypy, prettier, eslint

Check Galaxy api key when running the monitoring loop
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/views.py
  src/vue/src/App.vue
  src/vue/src/components/ToolListItem.vue
  src/vue/src/stores/job.js
  src/vue/src/stores/user.js
  src/vue/src/views/CategoryView.vue
  src/vue/src/views/HomeView.vue
  src/vue/src/views/LaunchView.vue
Due: mypy, prettier, eslint

Address minor regressions
  src/launcher_app/galaxy.py
  src/vue/src/App.vue
  src/vue/src/components/ToolStatus.vue
Due: mypy, prettier, eslint

Switch api key check to run on page load and job launch
  src/vue/src/App.vue
  src/vue/src/components/ToolListItem.vue
  src/vue/src/stores/job.js
  src/vue/src/stores/user.js
Due: prettier, eslint

Add tool version numbers
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/galaxy.py
  src/vue/src/components/ToolListItem.vue
Due: mypy, prettier, eslint

Login/logout fixes
  CHANGELOG.md
  dockerfiles/nginx.conf.template
  pyproject.toml
  src/launcher_app/settings.py
  src/launcher_app/views.py
  src/vue/src/stores/user.js
Due: mypy, prettier, eslint

Group alerts by alias when counting number of available services in a category
  CHANGELOG.md
  pyproject.toml
  src/vue/src/assets/js/alerts.js
Due: prettier, eslint

Update messages to be more generic
  src/vue/src/components/ToolStatus.vue
Due: prettier, eslint

Prevent duplicate tool submissions
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/galaxy.py
  src/vue/src/components/ActiveToolsPanel.vue
  src/vue/src/components/ToolListItem.vue
  src/vue/src/components/ToolStatus.vue
  src/vue/src/stores/job.js
  src/vue/src/views/LaunchView.vue
Due: mypy, prettier, eslint

Add instrument mounts to the dashboard system status
  CHANGELOG.md
  pyproject.toml
  src/vue/src/assets/js/alerts.js
Due: prettier, eslint

Allow separate instances of auto-launched tools with file inputs
  .gitignore
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/galaxy.py
  src/vue/src/stores/job.js
  src/vue/src/views/LaunchView.vue
Due: mypy, prettier, eslint

Fix timeout message appearing when stopping tools
  CHANGELOG.md
  pyproject.toml
  src/vue/src/stores/job.js
Due: prettier, eslint

Display auto-launched tools in active tools list
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/galaxy.py
  src/vue/src/App.vue
  src/vue/src/components/ActiveToolsPanel.vue
  src/vue/src/components/ToolListItem.vue
  src/vue/src/stores/job.js
  src/vue/src/stores/user.js
Due: mypy, prettier, eslint

Redirect to Galaxy login after loggin into dashboard
  src/launcher_app/settings.py
  src/launcher_app/views.py
Due: mypy

Add example config
  .env.sample
Due: none

Update redirect cookie to be more general
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/settings.py
  src/launcher_app/views.py
Due: mypy

Bump version
  CHANGELOG.md
  pyproject.toml
Due: none

Send redirect path through query param instead of cookie
  src/launcher_app/settings.py
  src/launcher_app/views.py
Due: mypy

Force the user to sign in again if their login expires while the dashboard is open
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/views.py
  src/vue/src/stores/job.js
Due: mypy, prettier, eslint

Login to Galaxy first before Dashboard
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/views.py
Due: mypy

Move documentation links and make Galaxy links/naming configurable
  .env.sample
  CHANGELOG.md
  pyproject.toml
  src/vue/index.html
  src/vue/public/favicon.ico
  src/vue/public/favicon.png
  src/vue/public/logo.png
  src/vue/public/logo_bw.png
  src/vue/src/App.vue
  src/vue/src/components/InfoPanel.vue
  src/vue/src/components/StatusPanel.vue
  src/vue/src/router/index.js
  src/vue/src/stores/job.js
  src/vue/src/views/HomeView.vue
  tests/test_dummy.py
Due: mypy, prettier, eslint

Remove tools.json and query Galaxy for tool categories and lists
  .env.sample
  README.md
  scripts/entrypoint.sh
  src/launcher_app/galaxy.py
  src/launcher_app/settings.py
Due: mypy

Add GitHub CI
  .github/workflows/build-test.yml
  .github/workflows/nova-dashboard.yml
Due: none

Remove regproxy
  dockerfiles/Dockerfile
Due: none

Use source target for testing
  .github/workflows/build-test.yml
Due: none

Fix imageid typo
  .github/workflows/build-test.yml
Due: none

Rename publish action
  .github/workflows/nova-dashboard.yml
Due: none

Add missing ghcr login and duplicate check
  .github/workflows/nova-dashboard.yml
Due: none

Add ghcr write permissions
  .github/workflows/nova-dashboard.yml
Due: none

add workflow_dispatch event to ci
  .github/workflows/build-test.yml
Due: none

Add missing changes
  src/launcher_app/galaxy.py
Due: mypy

Give tool categories a consistent order
  src/launcher_app/galaxy.py
Due: mypy

Fix autolaunch while logged out
  CHANGELOG.md
  pyproject.toml
  src/vue/src/stores/job.js
  src/vue/src/views/CategoryView.vue
  src/vue/src/views/HomeView.vue
  src/vue/src/views/LaunchView.vue
Due: prettier, eslint

Path conditions:
  mypy: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.vue$
