Repository nova-model/nova-dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, eslint

mypy:
  name: mypy
  entry: poetry run mypy src/launcher_app
  language: system
  verbose: true
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm -C src/vue exec prettier -w .
  language: system
  verbose: true
  pass_filenames: false

eslint:
  name: eslint
  entry: pnpm -C src/vue exec eslint --fix .
  language: system
  verbose: true
  pass_filenames: false

Make the tool prefix configured via .env
  .env.sample
  src/launcher_app/galaxy.py
  src/launcher_app/settings.py
Due: mypy

Remove hardcoded UCAMS/XCAMS logins
  .env.sample
  src/launcher_app/auth.py
  src/launcher_app/models.py
  src/launcher_app/settings.py
  src/launcher_app/urls.py
  src/launcher_app/views.py
  src/vue/src/stores/user.js
  src/vue/src/views/LaunchView.vue
Due: mypy, prettier, eslint

Reorganize header
  src/vue/public/galaxy_icon.png
  src/vue/src/App.vue
Due: prettier, eslint

Remove hardcoded redirects from nginx
  dockerfiles/nginx.conf.template
  scripts/entrypoint.sh
Due: none

Clean up login menu and prepare new version
  .env.sample
  CHANGELOG.md
  pyproject.toml
  src/vue/src/App.vue
Due: prettier, eslint

Add dev tag to version for testing deployment
  pyproject.toml
Due: none

Fix entrypoint script
  pyproject.toml
  scripts/entrypoint.sh
  src/launcher_app/settings.py
Due: mypy

Fix keyerror
  pyproject.toml
  src/launcher_app/views.py
Due: mypy

typo
  pyproject.toml
  src/launcher_app/views.py
Due: mypy

Remove dev tag
  pyproject.toml
Due: none

Address more feedback
  .env.sample
  pixi.lock
  pyproject.toml
  src/launcher_app/galaxy.py
  src/launcher_app/issue.py
  src/launcher_app/views.py
  src/vue/package.json
  src/vue/pnpm-lock.yaml
  src/vue/src/components/BugPanel.vue
  src/vue/src/layouts/DesktopLayout.vue
  src/vue/src/layouts/MobileLayout.vue
Due: mypy, prettier, eslint

Rename subjects to topics and indent values
  src/launcher_app/issue.py
  src/vue/src/components/BugPanel.vue
Due: mypy, prettier, eslint

Consolidate help and info panels
  pyproject.toml
  src/vue/src/components/HelpPanel.vue
  src/vue/src/components/InfoPanel.vue
  src/vue/src/layouts/DesktopLayout.vue
  src/vue/src/layouts/MobileLayout.vue
Due: prettier, eslint

Fix right margin of list items
  src/vue/src/components/ToolListItem.vue
Due: prettier, eslint

Add issue reporting (#50)
  .env.sample
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/launcher_app/galaxy.py
  src/launcher_app/issue.py
  src/launcher_app/settings.py
  src/launcher_app/urls.py
  src/launcher_app/views.py
  src/vue/package.json
  src/vue/pnpm-lock.yaml
  src/vue/src/App.vue
  src/vue/src/components/ActiveToolsPanel.vue
  src/vue/src/components/BugPanel.vue
  src/vue/src/components/CitationPanel.vue
  src/vue/src/components/HelpPanel.vue
  src/vue/src/components/InfoPanel.vue
  src/vue/src/components/PreferencesPanel.vue
  src/vue/src/components/ToolListItem.vue
  src/vue/src/layouts/DesktopLayout.vue
  src/vue/src/layouts/MobileLayout.vue
Due: mypy, prettier, eslint

Instruct user to report an issue when we see an unhandled Galaxy error
  src/vue/src/stores/job.js
  src/vue/src/views/LaunchView.vue
Due: prettier, eslint

Fetch the Galaxy homepage to force a token refresh
  src/vue/src/stores/user.js
Due: prettier, eslint

Bump dashboard version and changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Revert homepage fetch
  src/vue/src/stores/user.js
Due: prettier, eslint

Update the changelog
  CHANGELOG.md
Due: none

Direct users to report issues when tools fail unexpectedly (#52)
  CHANGELOG.md
  pyproject.toml
  src/vue/src/stores/job.js
  src/vue/src/views/LaunchView.vue
Due: prettier, eslint

Fix launch URLs not reusing existing tool instances
  .vscode/settings.json
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/vue/src/views/LaunchView.vue
Due: prettier, eslint

Add missing library to fix Docker build
  dockerfiles/Dockerfile
Due: none

Fix docker build for pnpm v11
  dockerfiles/Dockerfile
  src/vue/pnpm-workspace.yaml
Due: none

Apply prettier formatting to satisfy the CI :(
  src/vue/pnpm-workspace.yaml
Due: none

Fix vulnerabilities from dependabot
  src/vue/package.json
  src/vue/pnpm-lock.yaml
Due: prettier

Add new dependency to approved builds
  src/vue/pnpm-workspace.yaml
Due: none

Fix launch URLs not reusing existing tool instances (#53)
  .vscode/settings.json
  CHANGELOG.md
  dockerfiles/Dockerfile
  pixi.lock
  pyproject.toml
  src/vue/package.json
  src/vue/pnpm-lock.yaml
  src/vue/pnpm-workspace.yaml
  src/vue/src/views/LaunchView.vue
Due: prettier, eslint

Remove bad dep updates
  src/vue/package.json
  src/vue/pnpm-lock.yaml
Due: prettier

Reorganize the help panel
  CHANGELOG.md
  pixi.lock
  pyproject.toml
  src/vue/src/components/HelpPanel.vue
Due: prettier, eslint

Support a list of extra tools to show on the dashboard
  .env.sample
  src/launcher_app/galaxy.py
  src/launcher_app/settings.py
Due: mypy

Notify the user when non-interactive commands are stopped outside of the dashboard
  src/vue/src/components/ToolListItem.vue
  src/vue/src/components/ToolStatus.vue
  src/vue/src/stores/job.js
  src/vue/src/views/LaunchView.vue
Due: prettier, eslint

v0.21.4
  CHANGELOG.md
  pyproject.toml
Due: none

add ndip-k8s.ornl.gov
  pyproject.toml
  src/launcher_app/settings.py
Due: mypy

format fix
  src/launcher_app/settings.py
Due: mypy

update changelog
  CHANGELOG.md
Due: none

K8s to allowed hosts (#55)
  CHANGELOG.md
  pyproject.toml
  src/launcher_app/settings.py
Due: mypy

Fix notification banner
  CHANGELOG.md
  pyproject.toml
  src/vue/src/App.vue
  src/vue/src/components/NotificationPanel.vue
  src/vue/src/layouts/DesktopLayout.vue
  src/vue/src/stores/notification.js
Due: prettier, eslint

Update nginx in Docker build
  CHANGELOG.md
  dockerfiles/Dockerfile
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.vue$
  eslint: any of: \.(js|mjs|cjs)$, \.vue$
